html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.heart-icon::before,
.heart-icon::after {
    content: "\2665";
    color: #cc3377;
    margin-right: 5px;
   
}
.my-box{
    background-color: #cc3377
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);

}

section {
    margin-bottom: 30px;
}


p {
    font-size: 16px;
    line-height: 1.6;
}
